
.container {
	grid-template-areas: 'conflictselector' 'fileselector' 'details';
	grid-template-rows: auto auto 1fr;
	grid-template-columns: 1fr;
}

.sidebar {
	display: contents;
}

.sidebar > * {
	padding-left: theme(space.4);
	padding-right: theme(space.4);
}

.conflictselector {
	grid-area: conflictselector;
}

.fileselector {
	grid-area: fileselector;
}

.details {
	grid-area: details;
}

@media screen(md) {
	.container {
		grid-template-areas: 'sidebar details';
		grid-template-rows: 100%;
		grid-template-columns: minmax(20vw, 200px) 1fr;
	}

	.sidebar {
		display: initial;
	}
	.sidebar > * {
		padding-left: 0;
		padding-right: 0;
	}
	

	.fileselector {
		display: none;
	}

	.filelist {
		display: block;
		grid-area: filelist;
	}
}
