.layout {
	composes: w-full h-full grid from global;
	grid-template-rows: auto auto 1fr;
	grid-template-columns: 1fr;
	grid-template-areas: 'header' 'subheader' 'main';
}

.header {
	grid-area: header;
}

.main {
	grid-area: main;
}